<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/pub">Publications</a></li>
<li><a href="/teaching">Teaching</a></li>
<li><a href="/media">Media</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li>fmarti (at) swin (dot) edu (dot) au</li>
   <li><a href="https://github.com/felipmarti">github.com/felipmarti</a></li>
   </ul>
  </footer>
  </body>

</html>
